
# Golang
/bin/
/pkg/
/vendor/
/*.exe
/*.test
/*.out
/*.sum

# Logs
*.log
*.log.*

# Environment variables
.env
.env.*

# Compiled files
*.o
*.so
*.a

# Editor files
.idea/
.vscode/
*.suo
*.ntvs.*
*.njsproj
*.sln

# System Files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp